body {
    font-family: Arial, sans-serif;
    margin: 20px;
    width: 400px;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}
h1 {
    color: #444;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #4cae4c;
}
#reloadSection {
    margin-top: 20px;
    display: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f0f0f0;
}
.delete-btn {
    color: red; /* 警告色 */
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
}